---

# These tasks follow the instructions for running Podman without root privileges
# https://github.com/containers/podman/blob/main/docs/tutorials/rootless_tutorial.md

- name: Install podman
  package:
    name: podman
    state: present

- name: Install podman-docker
  package:
    name: podman-docker
    state: present

# Required for user-space networking
- name: Install slirp4netns
  package:
    name: slirp4netns
    state: present

# Recommended instead of the default VFS file system
- name: Install fuse-overlayfs
  package:
    name: fuse-overlayfs
    state: present

- name: Copy global configuration file for storage driver
  copy:
    src: podman/storage.conf
    dest: /etc/containers/storage.conf
    owner: root
    group: root
    mode: 0644

- name: Check podman storage configuration
  command: podman info --format "{{ '{{' }} .Store.GraphDriverName {{ '}}' }}"
  register: podman_info
  changed_when: false
  failed_when: false

- name: Find stale podman storage contents when storage driver mismatch
  find:
    paths: /var/lib/containers/storage
    file_type: any
    recurse: true
  register: podman_storage_entries
  when:
    - podman_info.rc != 0
    - podman_info.stderr is search("database graph driver")

- name: Remove stale podman storage contents when storage driver mismatch
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ podman_storage_entries.files }}"
  when:
    - podman_info.rc != 0
    - podman_info.stderr is search("database graph driver")

- name: Run podman system migrate after storage reset
  command: podman system migrate
  become: true
  changed_when: false
  when:
    - podman_info.rc != 0
    - podman_info.stderr is search("database graph driver")

- name: Restart podman socket when storage reset
  service:
    name: podman.socket
    state: restarted
  when:
    - podman_info.rc != 0
    - podman_info.stderr is search("database graph driver")

- name: Restart podman service when storage reset
  service:
    name: podman
    state: restarted
  when:
    - podman_info.rc != 0
    - podman_info.stderr is search("database graph driver")
