/target
/ansible/.venv
/ansible/envs/dev
/terraform/shared/modules/lambda/packages
/terraform/rds-databases/.forward-ports-cache-*.json
/terragrunt/modules/aws-lambda/packages
.terraform
node_modules
__pycache__
*.py[co]
terragrunt-generated-*.tf
.terragrunt-cache

.aws-creds-mfa-arn
