---

- name: Populate service facts
  service_facts:

- name: Disable the fwupd-refresh timer
  ansible.builtin.systemd:
    enabled: false
    state: stopped
    name: fwupd-refresh.timer
  when: ansible_facts.services['fwupd-refresh.service'] is defined

- name: Disable the fwupd-refresh service
  ansible.builtin.systemd:
    enabled: false
    state: stopped
    name: fwupd-refresh.service
  when: ansible_facts.services['fwupd-refresh.service'] is defined
