[Unit]
Description=Renew SSL certificates each week

[Timer]
OnCalendar=weekly
Persistent=true

# Add a bit of randomness to avoid hitting the Let's Encrypt servers
# at the exact same time the entire world is doing this.
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
