[Unit]
Description=Renew SSL certificates

[Service]
Type=oneshot
ExecStart=/usr/local/bin/renew-ssl-certs
User=ssl-renew
Group=ssl-read-keys

# Create /var/run/acme-challenges when the unit starts and delete it
# afterwards. It will be owned by the user and group defined above.
RuntimeDirectory=acme-challenges
RuntimeDirectoryMode=0755
