#
# {{ ansible_managed }}
#

Port 22
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility AUTH
LogLevel INFO

UsePAM yes
LoginGraceTime 120
StrictModes yes

PermitRootLogin no
PermitEmptyPasswords no

PasswordAuthentication no
PubkeyAuthentication yes
ChallengeResponseAuthentication no
AuthorizedKeysFile /etc/ssh/authorized_keys/%u

IgnoreRhosts yes
HostbasedAuthentication no

X11Forwarding no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

AllowGroups allow-ssh

Include /etc/ssh/sshd_config.d/*
