---

global_sudo_users:
  - simulacrum
  - pietro
  - jdn

global_collect_metrics_from:
  - 52.9.166.219  # monitoring.infra.rust-lang.org

# Version of https://github.com/prometheus/node_exporter to install on our
# instances. The checksum is the hash of the downloadable tarball for the
# specified architecture, found in the GitHub releases.
node_exporter_version: 1.4.0
node_exporter_archs:
  x86_64:
    name: amd64
    checksum: sha256:e77ff1b0a824a4e13f82a35d98595fe526849c09e3480d0789a56b72242d2abc
  aarch64:
    name: arm64
    checksum: sha256:0b20aa75385a42857a67ee5f6c7f67b229039a22a49c5c61c33f071356415b59

# Version of https://github.com/prometheus/prometheus to install on our
# instances. The checksum is the hash of the downloadable tarball for the
# specified architecture, found in the GitHub releases.
prometheus_version: 2.40.3
prometheus_arch: amd64
prometheus_checksum: sha256:4832e5ebe7a2976edcc90acf6bc4216e9c935aad4c2e5d3019a9b808522967ac

# Version of https://github.com/prometheus/alertmanager to install on our
# instances. The checksum is the hash of the downloadable tarball for the
# specified architecture, found in the GitHub releases.
alertmanager_version: 0.24.0
alertmanager_arch: amd64
alertmanager_checksum: sha256:6fa982232ae7be5524f5b3cd4e90b7c6a75086368200c917644eaa3e806555dc

# Version of https://grafana.com to install in our instances. The checksum is
# the hash of the .deb for the specified architecture, found here:
# https://grafana.com/grafana/download
grafana_version: 9.3.1
grafana_arch: amd64
grafana_checksum: sha256:f2bfaf926656a19fe94ef6bd06b6e2af769997862b435f49dfa2e98e33b15884

# Version of https://github.com/letsencrypt/pebble to install on our instances.
# The checksum is the hash of the downloadable binary for the specific
# architecture, found in the GitHub releases.
pebble_version: 2.2.2
pebble_arch: amd64
pebble_checksum: sha256:dcfe3106149885ebc3c1783aa1874b3cfb9bc78815737015127db641ef6be8c9

# Version of https://github.com/go-acme/lego to install on our instances. The
# checksum is the hash of the downloadable tarball for the specified
# architecture, found in the GitHub releases.
lego_version: 3.0.2
lego_arch: amd64
lego_checksum: sha256:6fb29df71eb920196459a4a8b5803c3e31639c26fb45967650a247a36f81f618

# Version of https://github.com/restic/restic to install on our instances. The
# checksum is the hash of the downloadable binary for the specified
# architecture, found in the GitHub release.
restic_version: 0.9.5
restic_arch: amd64
restic_checksum: sha256:08cd75e56a67161e9b16885816f04b2bf1fb5b03bc0677b0ccf3812781c1a2ec

# Version of https://www.packer.io to install on our instances. The checksum is
# available in a dedicated SHA256SUMS file.
packer_version: 1.5.6
packer_archs:
  x86_64:
    name: amd64
    checksum: sha256:2abb95dc3a5fcfb9bf10ced8e0dd51d2a9e6582a1de1cab8ccec650101c1f9df
  aarch64:
    name: arm64
    checksum: sha256:8942f3ae887a761befd9fa29da6f689050ce46b886910a6a439d6b49b5e463ae

# Version of https://github.com/teralytics/prometheus-ecs-discovery to install
# in our instances. The checksum can be calculated by downloading the binary
# and checksumming it.
prometheus_ecs_discovery_version: 1.4.1
prometheus_ecs_discovery_checksum: 510cce227572739b6b545abdd31e259333081bd8606022948390278406008700
