#
# {{ ansible_managed }}
#

[Unit]
Description=Update the source code fo gha-self-hosted every 15 minutes

[Timer]
OnCalendar=*:0/15

[Install]
WantedBy=timers.target
