#
# {{ ansible_managed }}
#

[Unit]
Description = Update the playground every hour

[Timer]
OnBootSec = 10min
OnUnitActiveSec = 1h

[Install]
WantedBy = timers.target
