---

- hosts: bastion
  become: yes
  become_user: root

  pre_tasks:
    - name: Ensure bastion unprivileged users are configured
      ansible.builtin.assert:
        that:
          - vars_bastion_unprivileged_users | default([]) | length > 0
        fail_msg: >-
          vars_bastion_unprivileged_users must be a non-empty list for bastion
          host {{ inventory_hostname }}.

  roles:

    - role: common
      papertrail_url: "{{ vars_papertrail_url }}"
      collect_metrics_from: "{{ global_collect_metrics_from }}"
      sudo_users: "{{ global_sudo_users }}"
      unprivileged_users: "{{ vars_bastion_unprivileged_users }}"

    - role: datadog.datadog
      vars:
        datadog_api_key: "{{ vars_datadog_api_key }}"
        datadog_site: "datadoghq.com"

        datadog_config:
          tags:
            - "env:{{ vars_environment }}"
            - "service:bastion"
          process_config:
            enabled: "true"

    - role: bastion
