#
# {{ ansible_managed }}
#

[Unit]
Description=The docs.rs Builder

[Service]
Environment=TMPDIR={{ vars_mountpoint_path }}
Environment=DOCSRS_LOG=info
Environment=DOCSRS_PREFIX=
Environment=DOCSRS_DATABASE_URL= {{ vars_database_url }}
Environment=DOCSRS_DOCKER_IMAGE=ghcr.io/rust-lang/crates-build-env/linux-micro

WorkingDirectory={{ vars_working_dir }}

ExecStart={{ vars_executable_path }} daemon --registry-watcher=disabled

[Install]
WantedBy=multi-user.target
