---

# Fetch all the group params from AWS SSM
ssm_dev_desktop: "{{ lookup('aws_ssm', '/prod/ansible/dev-desktop/', region='us-west-1', shortnames=true, bypath=true, recursive=true) }}"

vars_sudo_users:
  - simulacrum
  - pietro
  - jdn

vars_github_app_id: 196781
vars_github_app_private_key: "{{ ssm_dev_desktop['github-app-private-key'] }}"
