---

# Fetch all the group params from AWS SSM
ssm_playground: "{{ lookup('aws_ssm', '/prod/ansible/playground/', region='us-west-1', shortnames=true, bypath=true, recursive=true) }}"

vars_playground_domain: play.rust-lang.org

vars_playground_env_github_token: "{{ ssm_playground['github-token'] }}"
